<div class="list">
	<% @event.each do |event| %>
	<div class="block panel panel-default">
	<a class="big-title" href="/events/<%=event.id%>"><%=event.location%></a>
	<span class="price">$<%="#{event.price}0"%></span>
		<div class="panel-footer box-bottom">
			<div class="bottom">
				<span class="date footer-item"><%=event.start_date.strftime("%d.%b")%></span>
			</div>
		</div>
	</div>
	<% end %>
</div>
