.cont {
 margin:100px; 
 background-color: Azure;
}


div.lefty {
  float:left;
  width:65%;
  height:500px;
  background-repeat:no-repeat;
  background-size:cover;

}

div.righty {
  float:right;
  width:35%;
  height:500px;
  padding-left:20px;
  background-color:Azure;

}

.vilde {
	padding: 10px;
}


div.description {
  padding-top:10px;
  clear:both;
  width:100%;
  height:350px;
  text-align:center;
}


.regi{
    padding-top: 40px;
    width:250px;
    margin:0 auto;
}



@media only screen and (max-width: 1050px) {
    
    .cont {
      display:block;
    }

    div.lefty {
      width:100%;
    }

    div.righty {
      width:100%;
    }

    .regi{
      position:relative;
      width:250px;
      bottom:10px;
    }

    div.description{
      height:100%;
    }
}

@media only screen and (max-width: 500px) {

  
  .cont {
      margin:0 auto;
    }
  
  div.lefty {
      width:100%;
    }

    div.righty {
      width:100%;
      height:100%;
    }

    div.description {
      padding-top:10px;
      height:100%;
      font-size:0.8em;
    }

    .vilde{
      font-size:0.8em;
    }
    
    
}


